/* width */
.cont::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .cont::-webkit-scrollbar-track {
    /* background: #414156; */
    background: #293e5f;
    border-radius: 10px;
  }
  
  /* Handle */
  .cont::-webkit-scrollbar-thumb {
    /* background: #373455; */
    background: #48446f;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .cont::-webkit-scrollbar-thumb:hover {
    /* background: #413d61; */
    background: #403b65;
    border-radius: 10px;
  }